kagglehub
pandas
numpy
matplotlib
seaborn
python-dotenv
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-openai
langchain-text-splitters
langchain-core
transformers
sentence-transformers
gradio
notebook
ipywidgets
